.header-1 {
  color: white;
  font-weight: 400;
  font-size: 4.6rem;
  text-transform: uppercase;
  text-shadow: $light-shadow;
  letter-spacing: 8px;
  font-family: $font-primary;
}

.header-2 {
  color: $color-primary-meddark;
  font-weight: 400;
  font-size: 4.4rem;
  font-style: italic;

  letter-spacing: 6px;
  font-family: $font-display;
}

.header-3 {
  color: #fff;
  font-weight: 300;
  font-size: 3.4rem;
  letter-spacing: 3px;
  font-family: $font-primary;
  text-shadow: $light-shadow;
}
